terraform {
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "<= {{ provider_version }}"
    }
  }
}

# Configure the AWS Provider
provider "aws" {
  region = "{{ region }}"
  shared_credentials_file = "~/.aws/config"
  profile                 = "{{ profile }}"
}